{% extends "base.html" %}

<!DOCTYPE html>

<body>
{% block content %}
    <!-- Main content area -->
    <div class="row">
        <div class="column-left-home">
             <h1>DartsVG Pokemon Practice Tool</h1>
             <p>Hello! My name is <a href="https://www.x.com/dartsvg">Christopher Han</a>, and I work as a Pokemon VGC coach to help other players grow and improve.</p>
             <p>It's often difficult for newer VGC players to determine the correct moves in the last 1-2 turns of a game. This website is a tool (designed by myself) which aims to provide specific practice and feedback in different VGC scenarios!</p>
             <p>If you have any questions or would like to submit level ideas, don't be afraid to reach out through <a href="https://www.x.com/dartsvg">social media</a>!</p>
        </div>

        <div class="column-right-home">
            <img src="{{ url_for('static', filename='images/Untitled-design.png') }}" alt="coaching graphic">
        </div>
    </div>
{% endblock %}
</body>
</html>
