{% extends "base.html" %}

{% block content %}
   <div class="content">
      <h2>Level Selection</h2>
  </div>

  <div class="levelSelection19">
    {% for lvl in range(1,10) %}
      <a href="level{{lvl}}"
         class="levelSelection19 a">
        {{ lvl }}
      </a>
    {% endfor %}
  </div>

  <div class="levelSelection10more">
    {# 11–19 #}
    {% for lvl in range(11,20) %}
      <a href="level{{lvl}}"
         class="levelSelection10more a">
        {{ lvl }}
      </a>
    {% endfor %}
  </div>
{% endblock %}