{% extends "base.html" %}

{% block content %}
<div class="content">
    <h2>Level Selection</h2>
</div>

<table class="levels-table">
    <tbody>
        <tr>
            <td>
                <div class="levelbar">
                    {% for lvl in range(1, 16) %}
                        <a href="level{{lvl}}">
                            {{ lvl }}
                        </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}